@tailwind base;
@tailwind components;
@tailwind utilities;




body {
  background: linear-gradient(115deg, #c7d2fe 0%, #a78bfa 100%);
  min-height: 100vh;
  background-attachment: fixed;
  overflow-x: hidden;
}
